@model IEnumerable<WebSite.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllProducts</title>
</head>
<body>
    <div>
        <h3>Products</h3>
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        ID: @item.ID
                    </td>
                    <td>
                        Name: @item.Name
                    </td>
                    <td>
                        Category: @item.Category
                    </td>
                    <td>
                        Price: @item.Price
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
