@model WebSite.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetProductByID</title>
</head>
<body>
    <div>
        <h3>Product</h3>
        <table>
            <tr>
                <td>
                    ID: @Model.ID
                </td>
                <td>
                    Name: @Model.Name
                </td>
                <td>
                    Category: @Model.Category
                </td>
                <td>
                    Price: @Model.Price
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
