<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="http://localhost:49252/"/>
  </appSettings>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source= NAR-ПК\\TESTINSTANCE;
             Initial Catalog=Products;Integrated Security=false; User ID = sa; Password = 663667;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>